[submodule "ccxt"]
	path = ccxt
	url = https://github.com/tradingstrategy-ai/ccxt-gmx.git
	branch = ccxt-gmx
[submodule "web3-ethereum-defi"]
	path = web3-ethereum-defi
	url = https://github.com/tradingstrategy-ai/web3-ethereum-defi.git
